---
layout: markdown_page
title: "Group Direction - Authorization"
description: "Authorization keeps resources secure but accessible."
---

- TOC
{:toc}

| Group | **Authorization** |
| --- | --- |
| Stage | [Govern](https://about.gitlab.com/handbook/product/categories/#govern-stage) |
| Group | [Authorization](https://about.gitlab.com/handbook/product/categories/#authorization-group) |
| Content Last Reviewed | `2023-11-14` |


## Overview

This is the direction page for the Authorization group in the Govern stage.

## Priorities

| Priority | Name | DRI | Target Release | 
| ------ | ------ | ------ | ------ |
<% data.product_priorities.authorization.priorities.each.with_index do |priority, index| %>
| <%= index + 1 %> | [<%= priority.name %>](<%= priority.url %>) | `<%= priority.dri.presence || "TBD" %>` | `<%= priority.target_release.presence || "TBD" %>`  |
<% end %>
